.elementor-91 .elementor-element.elementor-element-6e950716 {text-align: center;}
.elementor-91 .elementor-element.elementor-element-6e950716 .elementor-heading-title {color: #54595f;font-family: "Poppins",Sans-serif;font-size: 35px;}
.elementor-91 .elementor-element.elementor-element-6e950716 > .elementor-widget-container {padding: 7px 7px 7px 7px;}
.elementor-91 .elementor-element.elementor-element-3baaec8 .elementor-text-editor {text-align: justify;}
.elementor-91 .elementor-element.elementor-element-3baaec8 {color: #54595f;font-family: "Quicksand",Sans-serif;font-size: 28px;}
.elementor-91 .elementor-element.elementor-element-3baaec8 > .elementor-widget-container {padding: 25px 25px 25px 25px;}
@media (max-width:767px) {.elementor-91 .elementor-element.elementor-element-6e950716 .elementor-heading-title {font-size: 20px;}
	.elementor-91 .elementor-element.elementor-element-3baaec8 {font-size: 15px;}}