.elementor-103 .elementor-element.elementor-element-21a1f7e {text-align: center;}
.elementor-103 .elementor-element.elementor-element-21a1f7e .elementor-heading-title {color: #54595f;font-family: "Poppins",Sans-serif;font-size: 35px;}
.elementor-103 .elementor-element.elementor-element-21a1f7e > .elementor-widget-container {padding: 7px 7px 7px 7px;}
.elementor-103 .elementor-element.elementor-element-52c9ec9 .elementor-text-editor {text-align: justify;}
.elementor-103 .elementor-element.elementor-element-52c9ec9 {color: #54595f;font-family: "Quicksand",Sans-serif;font-size: 28px;}
.elementor-103 .elementor-element.elementor-element-52c9ec9 > .elementor-widget-container {padding: 25px 25px 25px 25px;}
@media (max-width:767px) {.elementor-103 .elementor-element.elementor-element-21a1f7e .elementor-heading-title {font-size: 20px;}
	.elementor-103 .elementor-element.elementor-element-52c9ec9 {font-size: 15px;}}