.elementor-97 .elementor-element.elementor-element-3a97a6e5 {text-align: center;}
.elementor-97 .elementor-element.elementor-element-3a97a6e5 .elementor-heading-title {color: #54595f;font-family: "Poppins",Sans-serif;font-size: 35px;}
.elementor-97 .elementor-element.elementor-element-3a97a6e5 > .elementor-widget-container {padding: 7px 7px 7px 7px;}
.elementor-97 .elementor-element.elementor-element-519a4697 .elementor-text-editor {text-align: justify;}
.elementor-97 .elementor-element.elementor-element-519a4697 {color: #54595f;font-family: "Quicksand",Sans-serif;font-size: 28px;}
.elementor-97 .elementor-element.elementor-element-519a4697 > .elementor-widget-container {padding: 25px 25px 25px 25px;}
@media (max-width:767px) {.elementor-97 .elementor-element.elementor-element-3a97a6e5 .elementor-heading-title {font-size: 20px;}
	.elementor-97 .elementor-element.elementor-element-519a4697 {font-size: 15px;}}